<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/about.css" />
</head>
<body>
<header th:replace="fragments/commons::nav"></header>



    <section class="about">
        <div class="content">

            <div class="text">
                <h1>About Us</h1>
                <h5>Car Dealership</h5>
                <p>We are the best website, if you want to sell your old car or buy new one.</p>
            </div>
        </div>
    </section>


<footer th:replace="fragments/commons::footer"></footer>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>