<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/about.css" />
</head>
<body>

<div class="container-fluid banner">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-md">
                <a class="navbar-brand" href="/">Bri4ka</a>

                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ADD OFFER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">OFEERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LIKED OFFERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LOG IN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LOG OUT</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="about">
        <div class="content">

            <div class="text">
                <h1>About Us</h1>
                <h5>Car Dealership</h5>
                <p>We are the best website, if you want to sell your old car or buy new one.</p>
            </div>
        </div>
    </section>




    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>