<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/commons::head"></th:block>

    <title>AllOffers</title>

    <link rel="stylesheet" type="text/css" href="/css/offers.css"/>
</head>

<body>

<header th:replace="fragments/commons::nav"></header>

<h1>ALL OFFERS</h1>

<section id="gallery" th:each="offer : ${allOffers}" th:object="${offer}">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card h-100" style="width: 18rem;">
                    <img th:src="@{${'data:image/jpg;base64, ' + offer.picture}}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 th:text="|*{brand} *{model}|" class="card-title">VW GOLF II</h5>
                        <p th:text="*{description}" class="card-text">Very good car!</p>
                        <h6 th:text="*{price}+'lv.'">15.000$</h6>
                        <a th:href="@{/offer/{id}(id = *{id})}" class="btn btn-outline-success">Read More</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<nav aria-label="pagination">
    <div class="container-fluid container-fluid row justify-content-center fixed-bottom m-md-5">
        <ul class="pagination">
            <li class="page-item" th:classappend="${allOffers.isFirst()} ? 'disabled' : ''">
                <a class="page-link" th:unless="${allOffers.isFirst()}"
                   th:href="@{/all-offers(size=${allOffers.getSize()},page=0)}">First</a>
            </li>
            <li class="page-item" th:classappend="${allOffers.hasPrevious() ? '' : 'disabled'}">
                <a class="page-link" th:if="${allOffers.hasPrevious()}"
                   th:href="@{/all-offers(size=${allOffers.getSize()},page=${allOffers.getNumber() - 1})}">Previous</a>
            </li>
            <li class="page-item" th:classappend="${allOffers.hasNext() ? '' : 'disabled'}">
                <a class="page-link" th:if="${allOffers.hasNext()}"
                   th:href="@{/all-offers(size=${allOffers.getSize()},page=${allOffers.getNumber() + 1})}">Next</a>
            </li>
            <li class="page-item" th:classappend="${allOffers.isLast()} ? 'disabled' : ''">
                <a class="page-link" th:unless="${allOffers.isLast()}"
                   th:href="@{/all-offers(size=${allOffers.getSize()},page=${allOffers.getTotalPages() - 1})}">Last</a>
            </li>
        </ul>
    </div>
</nav>

<footer th:replace="fragments/commons::footer">

</body>

</html>