<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments/commons::head"></th:block>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />



</head>

<body>
<header th:replace="fragments/commons::nav"></header>
            <div class="col-md-8 offset-md-2 my-8 info text-black">
                <h1 class="text-center">Welcome, <th:block sec:authentication="name"></th:block></h1>

            </div>
        </div>
    </div>

<footer th:replace="fragments/commons::footer"></footer>


</body>

</html>