<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>  <header th:replace="fragments/commons::nav"></header>
<div class="col-md-8 offset-md-2 my-8 info">
    <h1 class="text-center">Bri4ka</h1>
    <p class="text-center">
        The best car dealership
    </p>
    <!--                <a href="#" class="btn btn-md text-center">Search</a>-->
</div>
</div>
</div>


    <footer th:replace="fragments/commons::footer"></footer>


    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>

</html>