<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/commons::head"></th:block>
    <title>LikedOffers</title>


    <link rel="stylesheet" type="text/css" href="../css/likedOffers.css" />

</head>

<body>

<header th:replace="fragments/commons::nav"></header>
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-lg-5">
                    </div>
                    <div class="col-lg-5 px-5 pt-5">
                        <h1 class="font-weight-bold py-5">Liked Offers</h1>
                    </div>
                </div>
            </div>
            <section id="gallery" th:each="offer : ${likedOffers}" th:object="${offer}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card" style="width: 18rem;">
                                <img th:src="@{${'data:image/jpg;base64, ' + offer.picture}}" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 th:text="*{name}"  class="card-title">VW GOLF II</h5>
                                    <p th:text="*{description}" class="card-text">Very good car!</p>
                                    <h6 th:text="*{price}+'lv.'">15.000$</h6>
                                    <a th:href="@{offer/{id}(id = *{id})}" class="btn btn-outline-success">Read More</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>

<footer th:replace="fragments/commons::footer"></footer>

            <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>

</html>