<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/login.css" />

    <title>Login</title>

</head>

<body>

<body>  <header th:replace="fragments/commons::nav"></header>




        <section class="Form my-2 mx-5">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-lg-5">
                    </div>
                    <div class="col-lg-5 px-5 pt-5">
                        <h1 class="font-weight-bold py-5">Bri4ka</h1>
                        <h4>Sign into ypur account</h4>
                        <form>
                            <div class="for-row">
                                <div class="col-lg-7">
                                    <input type="username" placeholder="Username" class="form-control my-3 p-2">
                                </div>
                            </div>

                            <div class="for-row">
                                <div class="col-lg-7">
                                    <input type="password" placeholder="Password" class="form-control my-3 p-2">
                                    <p class="errors alert alert-danger">
                                        Invalid username or password.
                                    </p>
                                </div>
                            </div>

                            <div class="for-row">
                                <div class="col-lg-7">
                                    <button type="button" class="btn1 mt-3 mb-4">Login</button>
                                </div>
                                
                            </div>
                            <p>Don't have an account? <a href="#">Register here</a></p>
                          </div>
                        </form>
                    </div>
                </div>
            </div>

    </section>

<footer th:replace="fragments/commons::footer"></footer>


    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>

</html>