<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/commons::head"></th:block>
    <title>The Website is under construction ....</title>
    <link rel="stylesheet" type="text/css" href="/css/maintenance.css"/>
</head>
<body class="body bluebg">
<img src="/img/under-construction.png" class="imgcenter"/>
<p class="txtwhite">The website is
    <a class="txtlightyellow">under construction.</a>
</p>
<p class="txtwhite">Kindly visit after some time.&nbsp;<strong> Thank You!</strong></p>
<a href="/home" class="btn btn-success">Go Home</a>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>