<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/register.css" />

    <title>Register</title>

</head>

<body>

<header th:replace="fragments/commons::nav"></header>

        <section class="Form my-4 mx-5">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-lg-5">
                    </div>
                    <div class="col-lg-5 px-5 pt-5">
                        <h1 class="font-weight-bold py-5">Register</h1>
                        <form>
                            <div class="for-row">
                                <div class="col-lg-7">
                                    <input type="First Name" placeholder="First Name" class="form-control my-3 p-2">
                                    <p class="errors alert alert-danger">
                                        First name is required.
                                    </p>
                                </div>
                            </div>
                            <div class="for-row">
                                <div class="col-lg-7">
                                    <input type="Last Name" placeholder="Last Name" class="form-control my-3 p-2">
                                    <p class="errors alert alert-danger">
                                        Last name is required.
                                    </p>
                                </div>
                            </div>
                            <div class="for-row">
                                <div class="col-lg-7">
                                    <input type="username" placeholder="Username" class="form-control my-3 p-2">
                                    <p class="errors alert alert-danger">
                                        Username is required.
                                    </p>
                                </div>
                            </div>
                            <div class="for-row">
                                <div class="col-lg-7">
                                    <input type="Email" placeholder="Email" class="form-control my-3 p-2">
                                    <p class="errors alert alert-danger">
                                    Email is required.
                                    </p>
                                </div>
                            </div>
                            <div class="for-row">
                                <div class="col-lg-7">
                                    <input type="password" placeholder="Password" class="form-control my-3 p-2">
                                    <p class="errors alert alert-danger">
                                        Password is required.
                                    </p>
                                </div>
                            </div>
                            <div class="for-row">
                                <div class="col-lg-7">
                                    <input type="password" placeholder="Confirm Password" class="form-control my-3 p-2">
                                    <p class="errors alert alert-danger">
                                        Confirm password is required.
                                    </p>
                                </div>
                            </div>

                            <div class="for-row">
                                <div class="col-lg-7">
                                    <input type="telephoneNumber" placeholder="Telephone Number" class="form-control my-3 p-2">
                                    <p class="errors alert alert-danger">
                                        Telephone Number is required.
                                    </p>
                                </div>
                            </div>

                            <div class="for-row">
                                <div class="col-lg-7">
                                    <button type="button" class="btn1 mt-3 mb-4">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>

<footer th:replace="fragments/commons::footer"></footer>


        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>

</html>