<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/commons::head"></th:block>

    <link rel="stylesheet" type="text/css" href="/css/register.css"/>

    <title>Register</title>

</head>

<body>

<header th:replace="fragments/commons::nav"></header>

<!--<section class="Form my-4 mx-5">-->
<!--    <div class="container-fluid ">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-5">-->
<!--            </div>-->
<!--            <div class="col-lg-5 px-5 pt-5">-->
                <h1 class="font-weight-bold py-5">Register</h1>


                <form class="mx-auto w-25 bg-blur rounded" th:method="POST" th:action="@{/register}"
                      th:object="${userRegisterDTO}">

                    <div class="form-group">
                        <div class="label-holder textCol d-flex justify-content-center"></div>
                            <label class="text-white font-weight-bold">First Name</label>
                            <input id="firstName"
                                   type="text"
                                   placeholder="First Name"
                                   class="form-control"
                                   th:field="*{firstName}"
                                   th:errorclass="is-invalid"
                                   name="firstName"
                            />
                            <p class="invalid-feedback errors alert alert-danger">
                                First name is required and should be at least 2.
                            </p>
                        </div>

                        <div class="form-group">
                            <div class="label-holder textCol d-flex justify-content-center">
                            </div>
                            <label class="text-white font-weight-bold">Last Name</label>
                            <input id="lastName"
                                   type="text"
                                   th:field="*{lastName}"
                                   th:errorclass="is-invalid "
                                   name="lastName"
                                   placeholder="Last Name"
                                   class="form-control"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Last name is required and should be at least 2 .
                            </p>
                        </div>

                        <div class="form-group">
                            <div class="label-holder textCol d-flex justify-content-center">
                            </div>
                            <label class="text-white font-weight-bold">Username</label>
                            <input id="username"
                                   type="text"
                                   th:field="*{username}"
                                   th:errorclass="is-invalid"
                                   name="username"
                                   placeholder="Username"
                                   class="form-control"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Username is required and should be at least 2.
                            </p>
                        </div>

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                            </div>
                            <label class="text-white font-weight-bold">Email</label>
                            <input id="email"
                                   type="Email"
                                   th:field="*{email}"
                                   th:errorclass="is-invalid"
                                   name="email"
                                   placeholder="Email"
                                   class="form-control my-3 p-2"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Email is required and should be unique.
                            </p>

                        </div>

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                            </div>
                            <label class="text-white font-weight-bold">Telephone Number</label>
                            <input type="telephoneNumber"
                                   th:field="*{telephoneNumber}"
                                   th:errorclass="is-invalid"
                                   name="telephoneNumber"
                                   placeholder="Telephone Number"
                                   class="form-control my-3 p-2"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Telephone Number is required.
                            </p>

                        </div>

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                            </div>
                            <label class="text-white font-weight-bold">Password</label>
                            <input id="password"
                            type="password"
                            th:field="*{password}"
                            th:errorclass="is-invalid"
                            name="password"
                            placeholder="Password"
                            class="form-control my-3 p-2"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Password is required and should be at least 3 symbols.
                            </p>
                        </div>

                        <div class="form-group">
                            <div class="label-holder text-white textCol d-flex justify-content-center">
                            </div>
                            <label class="text-white font-weight-bold">Confirm Password</label>
                            <input id="confirmPassword"
                                   type="password"
                                   th:field="*{confirmPassword}"
                                   th:errorclass="is-invalid"
                                   name="confirmPassword"
                                   placeholder="Confirm Password"
                                   class="form-control my-3 p-2"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Passwords should match.
                            </p>

                        </div>


                        <div class="button-holder d-flex justify-content-center">
                            <button type="submit" class="btn bg-gray rounded-1  mb-3" value="Register">Register</button>
                        </div>

                </form>


<footer th:replace="fragments/commons::footer"></footer>


</body>

</html>